@font-face {
  font-family: WorkSans;
  src: url('../fonts/WorkSans-Light.ttf');
}

@font-face {
  font-family: WorkSans;
  src: url('../fonts/WorkSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: WorkSans;
  src: url('../fonts/WorkSans-Regular.ttf');
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

html {font-size: 62.5%;}

body {
  font-size: 1.6rem;
  background-color: $background;
  font-family: WorkSans, sans-serif;
}