.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  position: sticky;
  top: 0;
  padding: 2rem;
  z-index: 2;

  &__logo {
    width: 5rem;
    height: auto;
  }

  &__nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 1.5rem 5rem;

    &__nav {
      justify-content: space-between;
      flex-basis: 70%;
    }
  }
}