.section {
  padding: 3rem 2rem;

  &--bg {
    background-color: $background;

    .section__heading {
      color: $black;
    }
  }

  &__heading {
    font-weight: 900;
    font-size: 3rem;
    margin-block-end: 1rem;
    margin-inline-start: 3rem;
    position: relative;
    text-transform: capitalize;

    &::before {
      content: "";
      width: 2rem;
      top: 40%;
      bottom: 40%;
      left: -3rem;
      background-color: $black;
      padding: .1rem;
      position: absolute;
    }
  }

  &__paragraph {
    font-size: 1.9rem;
    font-weight: 600;
    opacity: .6rem;
  }

  &__list {
    list-style: circle;
    font-size: 1.9rem;
    margin: 2rem 2rem 0;

    li {
      margin-block-end: 2rem;
      padding: 0 0 0 1rem;

      &::marker {
        font-family: 'LineIcons';
        content: '\ea39';
        color: lighten($black, 30);
        font-weight: normal;
      }
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

}

@media screen and (min-width: 1200px) {
  .section {
    padding: 5rem;
    margin: 2rem 0;
  }
}