.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: .8;
  }

  &--link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
  }

  &--cta {
    font-size: 2.3rem;
    padding: 2rem;
    background-color: $black;
    color: white;
  }
}

@media screen and (min-width: 1200px) {
  .btn {

    &--cta {
      padding: 1.5rem 4rem;
      border-radius: 3rem;
      font-size: 1.8rem;
    }
  }
}