.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lighten($background, 3);
  padding: 1rem 2rem 3rem;
  margin-block-end: 2rem;
  font-weight: 600;
  cursor: pointer;
  height: 100%;

  &:hover {
    box-shadow: 0 0 .5rem .2rem rgba($background, .9);
  }

  &__heading {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 900;
  }

  &__text {
    font-size: 1.8rem;
    opacity: .7;
  }

  &__link {
    color: black;
    font-size: 1.6rem;
    margin: 1rem 0 0;
    position: relative;

    &::after {
      content: "";
      width: 30%;
      height: 100%;
      border-bottom: .2rem solid black;
      padding: 1rem;
      position: absolute;
      left: 0;
      bottom: -.7rem;
      transition: 300ms ease-in-out;
    }

    &:hover {
      &::after {
        width: 70%;
      }
    }
  }
}