.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: $white;
  padding: 3rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem .5rem rgba($base, .1);
  margin-block-end: 2rem;

  &__icon::before {
    font-size: 4rem;
    color: $base;
  }

  &__heading {
    margin: 1.5rem 0;
    font-size: 2rem;
  }

  &__text {
    font-size: 1.9rem;
  }
}