@font-face {
  font-family: WorkSans;
  src: url("../fonts/WorkSans-Light.ttf");
}

@font-face {
  font-family: WorkSans;
  src: url("../fonts/WorkSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: WorkSans;
  src: url("../fonts/WorkSans-Regular.ttf");
  font-weight: 700;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  background-color: #cccccc;
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: #999999;
  cursor: pointer;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #fff9f2;
  font-family: WorkSans, sans-serif;
}

h1, h2,
h3, h4,
p, input {
  font-family: WorkSans, sans-serif;
}

.heading--fancy {
  font-size: 4rem;
  font-weight: 900;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: .2rem double currentColor;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  font-family: WorkSans, sans-serif;
  background-color: #ff6700;
  color: white;
}

.btn:hover {
  opacity: .8;
}

.btn--link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  padding: 1.5rem 3rem;
}

.btn--cta {
  font-size: 2.3rem;
  padding: 1rem 2rem;
  background-color: #ff6700;
  color: white;
}

@media screen and (min-width: 1200px) {
  .btn {
    font-weight: 900;
  }
  .btn--cta {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-weight: 900;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: white;
  padding: 3rem 4rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 1rem 0.5rem rgba(255, 103, 0, 0.1);
          box-shadow: 0 0 1rem 0.5rem rgba(255, 103, 0, 0.1);
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}

.card__icon::before {
  font-size: 4rem;
  color: #ff6700;
}

.card__heading {
  margin: 1.5rem 0;
  font-size: 2rem;
}

.card__text {
  font-size: 1.9rem;
}

.fancy-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  border: 0.5rem double white;
  font-size: 2rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

@media screen and (min-width: 1200px) {
  .fancy-box {
    font-size: 3rem;
  }
}

.jumbotron {
  padding: 2rem;
  height: 80vh;
  background-color: #ff6700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.5rem solid #333;
}

.jumbotron__heading {
  font-size: 5rem;
}

.jumbotron__heading span {
  position: relative;
}

.jumbotron__heading span::after {
  position: absolute;
  content: "";
  width: 70%;
  height: .2rem;
  bottom: 0;
  right: 0;
  left: 0;
  padding: .2rem;
  background-color: white;
}

.jumbotron__sub-heading {
  text-transform: uppercase;
}

.jumbotron__text {
  font-size: 2rem;
  font-weight: 600;
}

.jumbotron__btn {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.jumbotron__btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 0.3rem 0.5rem #333;
          box-shadow: 0 0.3rem 0.5rem #333;
}

.jumbotron__btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 1200px) {
  .jumbotron {
    height: 35vh;
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: white;
  border-radius: 3rem 3rem 0rem 0rem;
  overflow: hidden;
  margin: 5rem 0 0;
  position: relative;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  -webkit-box-shadow: 0 0.1rem 0.1rem rgba(51, 51, 51, 0.1);
          box-shadow: 0 0.1rem 0.1rem rgba(51, 51, 51, 0.1);
}

.modal__heading {
  font-size: 2rem;
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
  text-transform: uppercase;
}

.modal__content {
  padding: 2rem;
  font-size: 1.8rem;
  overflow-y: scroll;
  height: 90%;
}

.modal__list {
  list-style-type: decimal;
  margin: 2rem;
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 3;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(51, 51, 51, 0.1);
}

.modal .list {
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
}

.modal .list::marker {
  font-family: 'LineIcons';
  content: '\ea39';
  color: #b3b3b3;
}

.modal .list__heading {
  font-size: 1.8rem;
  text-transform: uppercase;
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem;
}

.modal .list__text {
  margin: 1rem 0;
  -webkit-margin-start: 2rem;
          margin-inline-start: 2rem;
}

.modal .list__btn {
  margin: 0 2rem !important;
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 70vh;
    width: 50vw;
    border-radius: 1rem 1rem 0 0;
    margin: 0;
  }
}

#menu {
  display: none;
}

.nav {
  position: fixed;
  top: 7.3rem;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #333;
  padding: 2rem;
  -webkit-transform: translateX(-10000rem);
          transform: translateX(-10000rem);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  list-style-type: none;
}

.nav__list {
  list-style: none;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  letter-spacing: .3rem;
  padding: 2rem .5rem;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
  border-bottom: .1rem solid currentColor;
  font-size: 2rem;
  color: white;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

.nav__link .lni {
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.nav__link:hover {
  opacity: .7;
}

.nav__link:hover .lni {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#menu:checked ~ .nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 1200px) {
  .nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: relative;
    top: auto;
    bottom: auto;
    right: auto;
    left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 0;
    background-color: transparent;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    justify-self: center;
  }
  .nav__link {
    display: block;
    color: #333;
    margin: 0 1rem;
    -webkit-margin-after: 0;
            margin-block-end: 0;
    padding: .5rem 1rem;
    border: none;
    font-weight: 900;
  }
  .nav__link .lni {
    display: none;
  }
}

.stairs {
  display: block;
  padding: .1rem;
  width: 2rem;
  border-radius: 1rem;
  background-color: #ff6700;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
  position: relative;
}

.stairs::before, .stairs::after {
  position: absolute;
  bottom: -.7rem;
  right: 0;
  left: -1.2rem;
  content: "";
  padding: .1rem;
  width: 100%;
  background-color: #ff6700;
  border-radius: 1rem;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.stairs::before {
  top: -.7rem;
  bottom: auto;
  right: -1.2rem;
  left: auto;
}

#menu:checked ~ .stairs {
  background-color: #333;
}

#menu:checked ~ .stairs::before {
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  background-color: #333;
}

#menu:checked ~ .stairs::after {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  background-color: #333;
}

@media screen and (min-width: 1200px) {
  .stairs {
    display: none;
  }
}

.footer {
  background-color: #333;
  color: white;
  padding: 4rem 2rem;
  text-align: center;
}

.footer__img {
  width: 10rem;
  height: auto;
}

.footer__text {
  font-size: 2rem;
}

.footer__text::before, .footer__text::after {
  content: '\eb65';
  font-family: 'LineIcons';
  font-size: 5rem;
}

.footer__copy {
  -webkit-margin-before: 2rem;
          margin-block-start: 2rem;
  opacity: .6;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 2rem;
  z-index: 2;
}

.header__logo {
  width: 5rem;
  height: auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 1.5rem 5rem;
  }
  .header__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

.section {
  padding: 5rem 2rem;
}

.section--bg {
  background-color: #4d4d4d;
}

.section--bg .section__heading {
  color: white;
}

.section__heading {
  font-weight: 700;
  font-size: 1.9rem;
  text-transform: uppercase;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.section__paragraph {
  font-size: 1.9rem;
}

.section__list {
  list-style: circle;
  font-size: 1.9rem;
  margin: 0 2rem;
}

.section__list li {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
}

.section__list li::marker {
  content: '\ea12';
  font-family: 'LineIcons';
  color: #ff6700;
  font-size: 1rem;
  background-color: red;
}
/*# sourceMappingURL=main.css.map */